@import "theme_variables";
@import "theme_mixins";
@import "../vendor/mixins";

.setting-tab-nav {
    .nav-item {
        background: #808080;
        border-radius: 10px 10px 0px 0px;
        -moz-border-radius: 10px 10px 0px 0px;
        -webkit-border-radius: 10px 10px 0px 0px;
        box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.15);
        margin-left: 0px;

        a {
            font-family: $fontOpenSans;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            color: #ECECEC;
            background: transparent;

            &:hover,
            &:focus {
                color: #ECECEC;
                background: transparent;
            }
        }

        &.active {
            background: #FFFFFF;
            border-radius: 10px 10px 0px 0px;
            -moz-border-radius: 10px 10px 0px 0px;
            -webkit-border-radius: 10px 10px 0px 0px;

            a {
                color: #000000;
                background: transparent;


                &:hover,
                &:focus {
                    color: #000000;
                    background: transparent;
                }
            }
        }
    }
}

.setting-tab-content {
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 0px 10px 10px;
    -moz-border-radius: 0px 10px 10px;
    -webkit-border-radius: 0px 10px 10px;
    padding: 20px 30px 70px 30px;
}