@-webkit-keyframes flash {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0; }
  20% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }
@keyframes flash {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0; }
  20% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }
