/// Grid
/// <Based> on Bootstrap's grid
/// @link http://getbootstrap.com/css/#grid
/// @TODO: Block grids

@if $grid-show-outlines {
  [class*='col-'] {
    outline: 1px dotted LightSalmon;
  }
}

.row {
  max-width: $grid-max-width;
  margin-left: auto;
  margin-right: auto;

  &::after, &::before {
    content:"";
    display: table;
    clear:both;
  }
  .row {
    margin-left: -$grid-gutter;
    margin-right: -$grid-gutter;
  }
}

[class*='col-'] {
  position: relative;
  float: left;
  min-height: 1px;
  width: 100%;
  padding-left: $grid-gutter;
  padding-right: $grid-gutter;
}

$grid-ratio: 100% / $grid-columns;

@each $size, $min-width in $breakpoints {
  @include mq($min-width) {
    @for $i from 1 through $grid-columns {
      .col-#{$size}-#{$i} {
        width: $grid-ratio * $i;
      }
      .col-#{$size}-offset-#{$i} {
        margin-left: $grid-ratio * $i;
      }
      .col-#{$size}-pull-#{$i} {
        right: $grid-ratio * $i;
      }
      .col-#{$size}-push-#{$i} {
        left: $grid-ratio * $i;
      }
    }
  }
}

@for $i from 1 through $grid-columns {
  @include min-screen(768px) {
    .col-md-#{$i} {
      width: $grid-ratio * $i;
    }
    .col-md-offset-#{$i} {
      margin-left: $grid-ratio * $i;
    }
    .col-md-pull-#{$i} {
      right: $grid-ratio * $i;
    }
    .col-md-push-#{$i} {
      left: $grid-ratio * $i;
    }
  }
  .line-md-#{$i} {
    width: $grid-ratio * $i;
  }
}
