<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587455214180-ihvko5if7o2mpb9adjbkol84lgcn9lb3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587455214180-ihvko5if7o2mpb9adjbkol84lgcn9lb3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>587455214180-0msd96ucl8gj5et0747qljdbefviokit.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBe6l8x3uPERxOpSu6Wswdpvs9dpQpaUTk</string>
	<key>GCM_SENDER_ID</key>
	<string>587455214180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>be.appoint.itsready.brightest</string>
	<key>PROJECT_ID</key>
	<string>it-s-ready-prod-3-cf685</string>
	<key>STORAGE_BUCKET</key>
	<string>it-s-ready-prod-3-cf685.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587455214180:ios:7cb9dc2cf700dbc30ce571</string>
</dict>
</plist>